<h1>Student Form</h1>
<form class="p-3" [formGroup]="studentForm" (ngSubmit) = "onSubmit()">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="name" class="form-control" id="name" formControlName="name" />
  </div>
  <div class="mb-3">
    <label for="age" class="form-label">Age</label>
    <input type="number" class="form-control" id="age" formControlName="age" />
  </div>
  <div class="mb-3">
    <label for="standard" class="form-label">Standard</label>
    <select class="form-select" formControlName="standard">
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
      <option value="4">Four</option>
      <option value="5">Five</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="subject" class="form-label">Subject</label>
    <select class="form-select" aria-placeholder="Select Subject" formControlName="subject">
      <option value="Maths">Maths</option>
      <option value="English">English</option>
      <option value="Science">Science</option>
      <option value="Social Science">Social Science</option>
      <option value="Computer">Computer</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!studentForm.valid" >Submit</button>
</form>
